In [1]:
import os
from geoinfer import geoinfer

# paths
DATA_DIR = "data"
INGEST_DIR = "ingest"

# ingest
TWEETS_FILE = os.path.join(INGEST_DIR, "locations_sample.tsv")

# datasets
CITIES_FILE = os.path.join(DATA_DIR, "cities1000.txt")
COUNTRIES_FILE = os.path.join(DATA_DIR, "countryInfo.txt")
ADMIN1_FILE = os.path.join(DATA_DIR, "admin1CodesASCII.txt")

# infer geonameid!
geo = geoinfer(tweets_path=TWEETS_FILE,
               cities_path=CITIES_FILE,
               countries_path=COUNTRIES_FILE,
               admin1_path=ADMIN1_FILE)

df = geo.run()
df

Loading datasets...
Done.
Augmenting and cleaning data...
Done.
Inferring geoname IDs (this can take a while)...
Done.

   tweet_user_location  tweet_id tweet_user_location_copy geonameid
0                 None   4994911                     none       NaN
1        United States    190257            united states   6252001
2                India     97652                    india   1269750
3      London, England     77542          london, england   2643743
4                  USA     67336                      usa   6252001
..                 ...       ...                      ...       ...
94    Bengaluru, India     12968         bengaluru, india   1277333
95    Hyderabad, India     12644         hyderabad, india   1269843
96           Ohio, USA     12375                ohio, usa   5165418
97       Virginia, USA     12300            virginia, usa   6254928
98           Guatemala     11834                guatemala   3595528

[99 rows x 4 columns]

## Extra

In [2]:
# Show completeness percentage (% of tweets that have a geonameid, exclusing the discard list)
from geoinfer.utils import print_geonameid_completeness
print_geonameid_completeness(df)

100.000%

In [3]:
# Print Pandas dataframe of rows that have a geonameid of NaN
# (locations that weren't able to be inferred, excluding the discard list)
from geoinfer.utils import show_nan
show_nan(df)

Number of NaNs: 0

Empty DataFrame
Columns: [tweet_user_location, tweet_id, tweet_user_location_copy, geonameid]
Index: []

In [4]:
# Run inferrance on a single location (list of locations)
geo.infer_location('Los Angeles, CA')

'5368361'

In [5]:
geo.infer_location('Canada')

'6251999'

In [7]:
geo.infer_location('Montréal, QC, Canada')

'6077243'