# Experimentation

Loading the datasets and cleaning. The following datasets are expected:
* `locations_clean_user_location.tsv`: The original provided list of raw locations with corresponding number of occurances
* In `/data`:
  * `cities1000.tsv`, cities with > 1000 pop. (GeoNames):
    * https://download.geonames.org/export/dump/cities1000.zip
    * Unzipped and renamed to `.tsv`
  * `countryInfo.tsv`, countries (GeoNames):
    * https://download.geonames.org/export/dump/countryInfo.txt
    * Unzipped and renamed to `.tsv`
  * `admin1CodesASCII.txt`, states and provinces (admin1) (GeoNames)
    * https://download.geonames.org/export/dump/admin1CodesASCII.txt

In [168]:
import os
import pandas as pd
import geopandas as gpd

current_dir = os.getcwd()
data_dir = "data"

## Load datasets

In [169]:
# Tweets user locations list
# Loading using pandas' read_csv (tab-deleted) to set 'tweet_id' dtype to int

tweets_user_locations = os.path.join(current_dir, "locations_clean_user_location.tsv")
df = pd.read_csv(tweets_user_locations, sep='\t', dtype={'tweet_id': int})
df.head(3)

  tweet_user_location  tweet_id
0                None   4994911
1       United States    190257
2               India     97652

In [170]:
# GeoNames (Cities with > 1000 inabitants)
# https://download.geonames.org/export/dump/cities1000.zip
# Loading using geopandas for geometry (usefulness tbd)

cities = os.path.join(current_dir, data_dir, "cities1000.tsv")
cities_df = gpd.read_file(cities)
cities_df.columns = cities_df.columns.str.lower() # lowercase headers
cities_df.head(3)

,geonameid,name,asciiname,altnames,latitude,longitude,featclass,featcode,country,cc2,admin1,admin2,admin3,admin4,population,elevation,gtopo30,timezone,moddate,geometry
0,3039154,El Tarter,El Tarter,"Ehl Tarter,–≠–ª –¢–∞—Ä—Ç–µ—Ä",42.57952,1.65362,P,PPL,AD,,02,,,,1052.0,NaN,1721,Europe/Andorra,2012-11-03,POINT (1.65362 42.57952)
1,3039163,Sant Juli√† de L√≤ria,Sant Julia de Loria,"San Julia,San Juli√†,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,,06,,,,8022.0,NaN,921,Europe/Andorra,2013-11-23,POINT (1.49129 42.46372)
2,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,–ü–∞—Å –¥–µ –ª–∞ –ö–∞—Å–∞",42.54277,1.73361,P,PPL,AD,,03,,,,2363.0,2050.0,2106,Europe/Andorra,2008-06-09,POINT (1.73361 42.54277)

In [171]:
# Test cities finding
# City
city_test = cities_df[(cities_df['name'] == 'London')]
city_test

# City & admin1
city_test = cities_df[(cities_df['name'] == 'London') & \
                      (cities_df['admin1'] == 'ENG')]
city_test

# City & admin1 & country
city_test = cities_df[(cities_df['name'] == 'London') & \
                      (cities_df['admin1'] == 'ENG') & \
                      (cities_df['country'] == 'GB')]
city_test

# City & country
city_test = cities_df[(cities_df['name'] == 'London') & \
                      (cities_df['country'] == 'GB')]
city_test

# City (with the largest population)
cities_df[(cities_df['name'] == 'London')].nlargest(1, ['population'])

,geonameid,name,asciiname,altnames,latitude,longitude,featclass,featcode,country,cc2,admin1,admin2,admin3,admin4,population,elevation,gtopo30,timezone,moddate,geometry
48817,2643743,London,London,"ILondon,LON,Lakana,Landan,Landen,Ljondan,Llund...",51.50853,-0.12574,P,PPLC,GB,,ENG,GLA,,,7556900.0,NaN,25,Europe/London,2019-09-18,POINT (-0.12574 51.50853)

In [172]:
# GeoNames (Countries info)
# https://download.geonames.org/export/dump/countryInfo.txt
# Loading using pandas' read_csv (tab-deleted), ignore lines 1-48

countries = os.path.join(current_dir, data_dir, "countryInfo.tsv")
countries_df = pd.read_csv(countries, sep='\t', header=49)
countries_df.head(3)

,#ISO,ISO3,ISO-Numeric,fips,Country,Capital,Area(in sq km),Population,Continent,tld,CurrencyCode,CurrencyName,Phone,Postal Code Format,Postal Code Regex,Languages,geonameid,neighbours,EquivalentFipsCode
0,AD,AND,20,AN,Andorra,Andorra la Vella,468.0,77006,EU,.ad,EUR,Euro,376,AD###,^(?:AD)*(\d{3})$,ca,3041565,"ES,FR",NaN
1,AE,ARE,784,AE,United Arab Emirates,Abu Dhabi,82880.0,9630959,AS,.ae,AED,Dirham,971,NaN,NaN,"ar-AE,fa,en,hi,ur",290557,"SA,OM",NaN
2,AF,AFG,4,AF,Afghanistan,Kabul,647500.0,37172386,AS,.af,AFN,Afghani,93,NaN,NaN,"fa-AF,ps,uz-AF,tk",1149361,"TM,CN,IR,TJ,PK,UZ",NaN

In [173]:
# GeoNames (states and provinces, admin1)
# https://download.geonames.org/export/dump/admin1CodesASCII.txt
# Loading using pandas' read_csv (tab-deleted),
# Column names from https://download.geonames.org/export/dump/readme.txt
# 'code' is '<country>.<admin1 for country>'

admin1 = os.path.join(current_dir, data_dir, "admin1CodesASCII.txt")
admin1_df = pd.read_csv(admin1, sep='\t', names=['code', 'name', 'name ascii', 'geonameid'])
admin1_df.head(3)

    code                 name           name ascii  geonameid
0  AD.06  Sant Juli√† de Loria  Sant Julia de Loria    3039162
1  AD.05               Ordino               Ordino    3039676
2  AD.04           La Massana           La Massana    3040131

In [174]:
# GeoNames 'admin1' (admin1_df) for Canadian provinces uses a 2-digit code
# Use postal abbreviation which people use

# CA.01	Alberta	Alberta	5883102
# CA.02	British Columbia	British Columbia	5909050
# CA.03	Manitoba	Manitoba	6065171
# CA.04	New Brunswick	New Brunswick	6087430
# CA.13	Northwest Territories	Northwest Territories	6091069
# CA.07	Nova Scotia	Nova Scotia	6091530
# CA.14	Nunavut	Nunavut	6091732
# CA.08	Ontario	Ontario	6093943
# CA.09	Prince Edward Island	Prince Edward Island	6113358
# CA.10	Quebec	Quebec	6115047
# CA.11	Saskatchewan	Saskatchewan	6141242
# CA.12	Yukon	Yukon	6185811
# CA.05	Newfoundland and Labrador	Newfoundland and Labrador	6354959

province_abbr = {
    'CA.01': 'CA.AB', # Alberta
    'CA.02': 'CA.BC', # British Columbia
    'CA.03': 'CA.MB', # Manitoba
    'CA.04': 'CA.NB', # New Brunswick
    'CA.05': 'CA.NL', # Newfoundland and Labrador
    'CA.07': 'CA.NS', # Nova Scotia
    'CA.08': 'CA.ON', # Ontario
    'CA.09': 'CA.PE', # Prince Edward Island
    'CA.10': 'CA.QC', # Quebec
    'CA.11': 'CA.SK', # Saskatchewan
    'CA.12': 'CA.YK', # Yukon
    'CA.13': 'CA.NT', # Northwest Territories
    'CA.14': 'CA.NU'  # Nunavut
}

new_provinces = admin1_df[admin1_df['code'].str.contains('^CA.')].copy()
new_provinces['code'] = new_provinces['code'].map(province_abbr)
admin1_df = pd.concat([admin1_df, new_provinces], ignore_index=True)
admin1_df[admin1_df['code'].str.contains('^CA.')]

       code                       name                 name ascii  geonameid
466   CA.01                    Alberta                    Alberta    5883102
467   CA.02           British Columbia           British Columbia    5909050
468   CA.03                   Manitoba                   Manitoba    6065171
469   CA.04              New Brunswick              New Brunswick    6087430
470   CA.13      Northwest Territories      Northwest Territories    6091069
471   CA.07                Nova Scotia                Nova Scotia    6091530
472   CA.14                    Nunavut                    Nunavut    6091732
473   CA.08                    Ontario                    Ontario    6093943
474   CA.09       Prince Edward Island       Prince Edward Island    6113358
475   CA.10                     Quebec                     Quebec    6115047
476   CA.11               Saskatchewan               Saskatchewan    6141242
477   CA.12                      Yukon                      Yukon    6185811
478   CA.05  Newfoundland and Labrador  Newfoundland and Labrador    6354959
3933  CA.AB                    Alberta                    Alberta    5883102
3934  CA.BC           British Columbia           British Columbia    5909050
3935  CA.MB                   Manitoba                   Manitoba    6065171
3936  CA.NB              New Brunswick              New Brunswick    6087430
3937  CA.NT      Northwest Territories      Northwest Territories    6091069
3938  CA.NS                Nova Scotia                Nova Scotia    6091530
3939  CA.NU                    Nunavut                    Nunavut    6091732
3940  CA.ON                    Ontario                    Ontario    6093943
3941  CA.PE       Prince Edward Island       Prince Edward Island    6113358
3942  CA.QC                     Quebec                     Quebec    6115047
3943  CA.SK               Saskatchewan               Saskatchewan    6141242
3944  CA.YK                      Yukon                      Yukon    6185811
3945  CA.NL  Newfoundland and Labrador  Newfoundland and Labrador    6354959

In [175]:
# Test when there's more than 1 admin1

# admin1_df[admin1_df['code'].str.contains('^US.')]
# admin1_df[admin1_df['name'] == 'La Paz']
country_code = 'HN'
element = 'La Paz'
test1 = admin1_df[(admin1_df['name'] == element)].copy()
test1.loc[:, 'geonameid'] = 99
test11 = test1.head(1)
test1

       code    name name ascii  geonameid
351   BO.04  La Paz     La Paz         99
1190  HN.12  La Paz     La Paz         99
3288  SV.06  La Paz     La Paz         99

In [176]:
# Add alternative country names (e.g. USA, UK, etc.)
# (we can't easily get alternative country names)
alternative_country_names = {
    6252001: 'USA',    # United States
    2510769: 'Espa√±a', # [Kingdom of] Spain
    2635167: 'UK',     # United Kingdom
    1861060: 'Êó•Êú¨',    # Japan
    298795: 'T√ºrkiye', # Turkey
    3469034: 'Brasil', # Brazil
    3175395: 'Italia', # Italy
    1694008: 'Republic of the Philippines', # Philipines
    2921044: 'Deutschland' # Germany
}

new_countries = pd.DataFrame([], columns=countries_df.columns)
for geo, alt_name in alternative_country_names.items():
    alt_country = countries_df[countries_df['geonameid'] == geo].copy()
    alt_country['Country'] = alt_name
    countries_df = pd.concat([countries_df, alt_country], ignore_index=True)

# TODO: City alternartives
# And others like abbreviations (e.g. CDMX)
# Add to list of city alternatives
# #3527646: 'CDMX',   # Mexico City

## Constants

In [177]:
# Discard specific 'tweet_user_location' strings
LOCATION_DISCARD = ['None', '\\N', 'Global', 'Earth',
                    'Planet Earth', 'Worldwide', 'Everywhere',
                    'Internet', 'En todas partes']

## Helper functions

In [178]:
# Displays the percentage of tweets that have a 'geonameid'
# Skipping the ones we know aren't valid (discards)
def print_geonameid_completeness(df):
    all_tweets = df[~df['tweet_user_location'].isin(LOCATION_DISCARD)]['tweet_id'].sum()
    geonameid_tweets = df[df.geonameid.notnull()]['tweet_id'].sum()
    print(f'{geonameid_tweets/all_tweets*100:.3f}%')

 ## Clean

In [179]:
# Make a copy of 'tweet_user_location' so we leave the original intact
df['tweet_user_location_copy'] = df['tweet_user_location']

# Discard specific 'tweet_user_location' strings
# tweet_user_location_discard = ['None', '\\N']
# df = df[~df['tweet_user_location'].isin(tweet_user_location_discard)]

# Discard locations that don't exist more than 2 times
df = df[df['tweet_id'] > 2]

# Filter out emojis and other symbols
# * https://stackoverflow.com/a/49986645
# * https://www.ling.upenn.edu/courses/Spring_2003/ling538/UnicodeRanges.html (Unicode symbol ranges)
import re
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emojis: emoticons
        u"\U0001F300-\U0001F5FF"  # emojis: symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # emojis: transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # emojis: flags (iOS)
        u"\U00002700-\U000027BF"  # 'Dingbats' http://www.unicode.org/charts/PDF/U2700.pdf
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: deEmojify(x))

# Truncate leading and trailing spaces
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: x.strip())

# Truncate trailing "," and "." characters
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: x.rstrip(','))
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: x.rstrip('.'))

df

,tweet_user_location,tweet_id,tweet_user_location_copy
0,None,4994911,None
1,United States,190257,United States
2,India,97652,India
3,"London, England",77542,"London, England"
4,USA,67336,USA
...,...,...,...
338210,N 52¬∞27' 0'' / W 1¬∞49' 0'',3,N 52¬∞27' 0'' / W 1¬∞49' 0''
338211,Villerupt-Luxembourg-Oslo-Stoc,3,Villerupt-Luxembourg-Oslo-Stoc
338212,Chicago ‚úà,3,Chicago
338213,Catch Me If You Can,3,Catch Me If You Can
338214,On all your devices,3,On all your devices

## Countries

In [180]:
# Some locations are verbatim the name of a country, e.g.:
df[df['tweet_user_location_copy'] == 'Canada']

       tweet_user_location  tweet_id tweet_user_location_copy
18                  Canada     40858                   Canada
1497               Canada        723                   Canada
2846             Canada üá®üá¶       352                   Canada
4756               Canada.       199                   Canada
5333                Canada       177                   Canada
9208             üá®üá¶ Canada       100                   Canada
14493           Canada üá®üá¶         63                   Canada
17363             Canadaüá®üá¶        52                   Canada
52402           üá®üá¶Canadaüá®üá¶        17                   Canada
78821           üçÅ Canada üçÅ        12                   Canada
79402           Canada üá®üá¶üòÅ        12                   Canada
83440              Canada         11                   Canada
84848          Canada üá®üá¶üáÆüá≥        11                   Canada
97153              CanadaüçÅ         9                   Canada
100681            Canada           9                   Canada
100693          Canada  üá®üá¶         9                   Canada
143425           Canada üá®üá¶         6                   Canada
155483            üçÅCanadaüçÅ         6                   Canada
192221              Canada         5                   Canada
224870         Canadaüá®üá¶ üáµüáπ         4                   Canada
294426            Canada.          3                   Canada
294428          Canada. üá®üá¶         3                   Canada
294536            Canada üçÅ         3                   Canada
294551         Canada üá®üá¶üá®üá¶         3                   Canada

In [181]:
# # df[df['tweet_user_location'].isin(simple_countries_df['Country'])]
# # simple_countries_df = countries_df[['#ISO','Country', 'geonameid']]#.set_index('Country')

# # Merge in country info (with goenameid) when there's an exact country match

# # Keep the columns of countries_df we need.
# simple_countries_df = countries_df[['#ISO','Country', 'geonameid']]
# #df = pd.merge(df, simple_countries_df, how='left', left_on='tweet_user_location_copy', right_on='Country')
# df

In [182]:
#print_geonameid_completeness(df)

## Cities

In [183]:
#simple_cities_df = cities_df[['geonameid', 'name', 'asciiname', 'altnames']]
# df = pd.merge(df, simple_cities_df, how='left', left_on='tweet_user_location', right_on='name')
#df_copy = df[df['geonameid'].isnull()]
#pd.merge(df_copy, simple_cities_df, how='left', left_on='tweet_user_location_copy', right_on='name')

# NB: this can't work b/c cities name (unlike countries) aren't unique, e.g. there's a lot of "London"

In [184]:
# df[df['tweet_user_location_copy'].str.count(',') > 2]

In [185]:
# test = "Toronto, Ontario, Canada, World"
# test = "Toronto, Canada"
# test.split(',')

In [186]:
# import numpy as np

# def split_fixed_parts(num_parts, location):
#     parts = location.split(',')
#     if num_parts > len(parts):
#         for i in range(num_parts - len(parts)):
#             parts.insert(0, None)
#     else:
#         for i in range(len(parts) - num_parts):
#             parts.pop(0)
#     return parts

# def parts_dict(num_parts, location):
#     parts = split_fixed_parts(num_parts, location)
#     return {f'el-{k}':parts[k] for k in range(num_parts)}

def split_parts(location):
    return location.split(',')

# print(split_fixed_parts(3, 'Toronto'))
print(split_parts('Toronto'))

['Toronto']

In [187]:
# Mini test dataset
# df[['column_new_1', 'column_new_2', 'column_new_3']] = pd.DataFrame([[np.nan, 'dogs', 3]], index=df.index)
test_df = df[df['tweet_user_location_copy'].str.count(',') == 0].head(200)
test_df

                tweet_user_location  tweet_id        tweet_user_location_copy
0                              None   4994911                            None
1                     United States    190257                   United States
2                             India     97652                           India
4                               USA     67336                             USA
5                            London     66315                          London
10                           France     54481                          France
12                   United Kingdom     48965                  United Kingdom
13                           M√©xico     46987                          M√©xico
15                           Espa√±a     44838                          Espa√±a
16                          Nigeria     44185                         Nigeria
17                        Venezuela     42657                       Venezuela
18                           Canada     40858                          Canada
20                               \N     39268                              \N
23                               UK     36063                              UK
26                        Argentina     33687                       Argentina
27                           Brasil     33580                          Brasil
28                           Italia     32502                          Italia
30                        Australia     30921                       Australia
32                            Paris     29451                           Paris
34                           Madrid     28946                          Madrid
37                            Earth     26727                           Earth
38                         New York     26546                        New York
41                         Colombia     25048                        Colombia
43                        Indonesia     24684                       Indonesia
44                            Chile     22545                           Chile
45                        Worldwide     22394                       Worldwide
50                     South Africa     21241                    South Africa
51                        Barcelona     20727                       Barcelona
52                         Malaysia     19476                        Malaysia
53                           Global     19453                          Global
58                      Los Angeles     18472                     Los Angeles
60                         Pakistan     17863                        Pakistan
63                    New York City     17093                   New York City
66                              NYC     16732                             NYC
69                          Toronto     15664                         Toronto
72                            Texas     15200                           Texas
73                      Philippines     15086                     Philippines
74                        Singapore     14774                       Singapore
75                           Mexico     14732                          Mexico
76                       California     14552                      California
79                      El Salvador     14002                     El Salvador
81                        New Delhi     13893                       New Delhi
83                        Hong Kong     13783                       Hong Kong
85                           Mumbai     13661                          Mumbai
86                     Planet Earth     13625                    Planet Earth
87                          Chicago     13623                         Chicago
90                          Ireland     13442                         Ireland
92                          Ecuador     13111                         Ecuador
93      Republic of the Philippines     13027     Republic of the Philippines
98                        Guatemala     11834                       Guatemala
99                           Panam√°     11608                          Panam√°
107                       Catalunya     10965                       Catalunya
109                         Florida     10805                         Florida
110            Text RESIST to 50409     10803            Text RESIST to 50409
111                         T√ºrkiye     10656                         T√ºrkiye
113  Ciudad Aut√≥noma de Buenos Aire     10308  Ciudad Aut√≥noma de Buenos Aire
115                           World     10150                           World
116                Ciudad de M√©xico     10107                Ciudad de M√©xico
117                    Buenos Aires     10081                    Buenos Aires
123                      Everywhere      9897                      Everywhere
127                         Germany      9578                         Germany
129                          Europe      9420                          Europe
132                   San Francisco      9156                   San Francisco
135                           Italy      9082                           Italy
136                     Deutschland      9068                     Deutschland
138                           Lagos      8986                           Lagos
140                           Spain      8767                           Spain
141                            Roma      8759                            Roma
142                         England      8579                         England
151                       S√£o Paulo      8128                       S√£o Paulo
153                          Berlin      8073                          Berlin
155                  Rio de Janeiro      8022                  Rio de Janeiro
158                        Scotland      7860                        Scotland
160                        Paraguay      7712                        Paraguay
161                           Ghana      7695                           Ghana
165                           Kenya      7535                           Kenya
166                          Brazil      7415                          Brazil
171                       Bangalore      7237                       Bangalore
176                     New Zealand      7141                     New Zealand
180                          Sydney      6955                          Sydney
185                      New Jersey      6758                      New Jersey
186                            Cuba      6747                            Cuba
188                       Nederland      6739                       Nederland
189                   Washington DC      6665                   Washington DC
192                            CDMX      6549                            CDMX
199                        Honduras      6341                        Honduras
201                        Michigan      6312                        Michigan
202                       Nicaragua      6269                       Nicaragua
204                          Boston      6230                          Boston
206                              Êó•Êú¨      6205                              Êó•Êú¨
208                        Portugal      6139                        Portugal
209                        Internet      6128                        Internet
212              Dominican Republic      6066              Dominican Republic
213                           Delhi      6033                           Delhi
214                         Uruguay      6011                         Uruguay
216                       Sri Lanka      5930                       Sri Lanka
220                     Puerto Rico      5742                     Puerto Rico
221                        Thailand      5706                        Thailand
223                            Peru      5689                            Peru
229                         Seattle      5588                         Seattle
230                         Nairobi      5562                         Nairobi
233                         Chennai      5459                         Chennai
235                           Japan      5447                           Japan
236                         America      5432                         America
237                          Africa      5416                          Africa
238                       Melbourne      5406                       Melbourne
239                          Bogot√°      5404                          Bogot√°
246                         Jakarta      5278                         Jakarta
249                         Caracas      5150                         Caracas
250             Southern California      5140             Southern California
252        United States of America      5101        United States of America
257             Caracas - Venezuela      5061             Caracas - Venezuela
258                         Bolivia      5042                         Bolivia
259                      Costa Rica      5019                      Costa Rica
263                          Dublin      4928                          Dublin
264                 The Netherlands      4928                 The Netherlands
265                         Jamaica      4925                         Jamaica
266                            Ohio      4907                            Ohio
267                        Brussels      4897                        Brussels
268                         she/her      4895                         she/her
273                          Milano      4840                          Milano
278                      Manchester      4703                      Manchester
280                        Colorado      4616                        Colorado
283                       Amsterdam      4561                       Amsterdam
284                         Senegal      4546                         Senegal
285               Santiago de Chile      4528               Santiago de Chile
286            Rep√∫blica Dominicana      4524            Rep√∫blica Dominicana
287                              NY      4514                              NY
290                     Mexico City      4463                     Mexico City
291                         Belgium      4447                         Belgium
292               Jammu And Kashmir      4432               Jammu And Kashmir
293                          Panama      4423                          Panama
294                        Maldives      4403                        Maldives
295                         Sevilla      4335                         Sevilla
297                            Lima      4256                            Lima
299                    Kuala Lumpur      4199                    Kuala Lumpur
301                       Hyderabad      4127                       Hyderabad
308                         Atlanta      4015                         Atlanta
309                  North Carolina      3999                  North Carolina
312                            Per√∫      3983                            Per√∫
313                        ƒ∞stanbul      3980                        ƒ∞stanbul
316                          Israel      3899                          Israel
317                         Arizona      3862                         Arizona
322                       Liverpool      3788                       Liverpool
323                           Tokyo      3775                           Tokyo
324          Jakarta Capital Region      3774          Jakarta Capital Region
325                            ‡§≠‡§æ‡§∞‡§§      3773                            ‡§≠‡§æ‡§∞‡§§
330                     Switzerland      3725                     Switzerland
331                         Glasgow      3704                         Glasgow
332                    Philadelphia      3679                    Philadelphia
336                              US      3621                              US
341                        Valencia      3546                        Valencia
343                     JDSupra.com      3520                     JDSupra.com
344                        Santiago      3509                        Santiago
346                     Netherlands      3486                     Netherlands
350                    Johannesburg      3399                    Johannesburg
351                       Wisconsin      3398                       Wisconsin
352                           Abuja      3368                           Abuja
355                          Sweden      3362                          Sweden
356                        Montr√©al      3338                        Montr√©al
358                           india      3320                           india
362                  Estados Unidos      3259                  Estados Unidos
363                       Vancouver      3256                       Vancouver
364                           INDIA      3235                           INDIA
366                        Maryland      3229                        Maryland
371          San Francisco Bay Area      3196          San Francisco Bay Area
375                                      3173
377                       Edinburgh      3159                       Edinburgh
378                        Canberra      3155                        Canberra
382                           Nepal      3104                           Nepal
390                        Brooklyn      3088                        Brooklyn
391                   Massachusetts      3079                   Massachusetts
392         National Capital Region      3068         National Capital Region
393                        Virginia      3066                        Virginia
395                      Bangladesh      3041                      Bangladesh
402                          Uganda      3006                          Uganda
403                       San Diego      2994                       San Diego
408                    Pennsylvania      2968                    Pennsylvania
410                           Êó•Êú¨ Êù±‰∫¨      2934                           Êó•Êú¨ Êù±‰∫¨
413                       Minnesota      2913                       Minnesota
416                        Belgique      2886                        Belgique
419                           Miami      2863                           Miami
420                           Haiti      2859                           Haiti
423                         M√ºnchen      2836                         M√ºnchen
429                          Ottawa      2795                          Ottawa
433                         Georgia      2782                         Georgia
436                        Illinois      2746                        Illinois
443                   South Florida      2713                   South Florida
446                        Montreal      2679                        Montreal
447                            Mars      2678                            Mars
448  R√©publique D√©mocratique Du Con      2662  R√©publique D√©mocratique Du Con
449                   Santo Domingo      2662                   Santo Domingo
452                              NJ      2643                              NJ
453                           Dubai      2632                           Dubai
455                         Lebanon      2615                         Lebanon
456                 En todas partes      2597                 En todas partes
459                          Oregon      2589                          Oregon
462                           earth      2577                           earth
464                         Bangkok      2550                         Bangkok
467                         London       2528                          London

In [188]:
num_parts = 3

# https://stackoverflow.com/a/16242202
#test_df.tweet_user_location_copy.apply(lambda s: pd.Series(parts_dict(num_parts, s)))
#test_df = pd.concat([test_df, test_df.tweet_user_location_copy.apply(lambda s: pd.Series(parts_dict(num_parts, s)))], axis=1)

test_df['elements'] = test_df['tweet_user_location_copy'].map(lambda location: location.split(','))
# test_df['elements'] = test_df['elements'].map(lambda x: [i.strip() for i in x if i is not None])
test_df

,tweet_user_location,tweet_id,tweet_user_location_copy,elements
0,None,4994911,None,[None]
1,United States,190257,United States,[United States]
2,India,97652,India,[India]
4,USA,67336,USA,[USA]
5,London,66315,London,[London]
10,France,54481,France,[France]
12,United Kingdom,48965,United Kingdom,[United Kingdom]
13,M√©xico,46987,M√©xico,[M√©xico]
15,Espa√±a,44838,Espa√±a,[Espa√±a]
16,Nigeria,44185,Nigeria,[Nigeria]
17,Venezuela,42657,Venezuela,[Venezuela]
18,Canada,40858,Canada,[Canada]
20,\N,39268,\N,[\N]
23,UK,36063,UK,[UK]
26,Argentina,33687,Argentina,[Argentina]
27,Brasil,33580,Brasil,[Brasil]
28,Italia,32502,Italia,[Italia]
30,Australia,30921,Australia,[Australia]
32,Paris,29451,Paris,[Paris]
34,Madrid,28946,Madrid,[Madrid]
37,Earth,26727,Earth,[Earth]
38,New York,26546,New York,[New York]
41,Colombia,25048,Colombia,[Colombia]
43,Indonesia,24684,Indonesia,[Indonesia]
44,Chile,22545,Chile,[Chile]
45,Worldwide,22394,Worldwide,[Worldwide]
50,South Africa,21241,South Africa,[South Africa]
51,Barcelona,20727,Barcelona,[Barcelona]
52,Malaysia,19476,Malaysia,[Malaysia]
53,Global,19453,Global,[Global]
58,Los Angeles,18472,Los Angeles,[Los Angeles]
60,Pakistan,17863,Pakistan,[Pakistan]
63,New York City,17093,New York City,[New York City]
66,NYC,16732,NYC,[NYC]
69,Toronto,15664,Toronto,[Toronto]
72,Texas,15200,Texas,[Texas]
73,Philippines,15086,Philippines,[Philippines]
74,Singapore,14774,Singapore,[Singapore]
75,Mexico,14732,Mexico,[Mexico]
76,California,14552,California,[California]
79,El Salvador,14002,El Salvador,[El Salvador]
81,New Delhi,13893,New Delhi,[New Delhi]
83,Hong Kong,13783,Hong Kong,[Hong Kong]
85,Mumbai,13661,Mumbai,[Mumbai]
86,Planet Earth,13625,Planet Earth,[Planet Earth]
87,Chicago,13623,Chicago,[Chicago]
90,Ireland,13442,Ireland,[Ireland]
92,Ecuador,13111,Ecuador,[Ecuador]
93,Republic of the Philippines,13027,Republic of the Philippines,[Republic of the Philippines]
98,Guatemala,11834,Guatemala,[Guatemala]
99,Panam√°,11608,Panam√°,[Panam√°]
107,Catalunya,10965,Catalunya,[Catalunya]
109,Florida,10805,Florida,[Florida]
110,Text RESIST to 50409,10803,Text RESIST to 50409,[Text RESIST to 50409]
111,T√ºrkiye,10656,T√ºrkiye,[T√ºrkiye]
113,Ciudad Aut√≥noma de Buenos Aire,10308,Ciudad Aut√≥noma de Buenos Aire,[Ciudad Aut√≥noma de Buenos Aire]
115,World,10150,World,[World]
116,Ciudad de M√©xico,10107,Ciudad de M√©xico,[Ciudad de M√©xico]
117,Buenos Aires,10081,Buenos Aires,[Buenos Aires]
123,Everywhere,9897,Everywhere,[Everywhere]
127,Germany,9578,Germany,[Germany]
129,Europe,9420,Europe,[Europe]
132,San Francisco,9156,San Francisco,[San Francisco]
135,Italy,9082,Italy,[Italy]
136,Deutschland,9068,Deutschland,[Deutschland]
138,Lagos,8986,Lagos,[Lagos]
140,Spain,8767,Spain,[Spain]
141,Roma,8759,Roma,[Roma]
142,England,8579,England,[England]
151,S√£o Paulo,8128,S√£o Paulo,[S√£o Paulo]
153,Berlin,8073,Berlin,[Berlin]
155,Rio de Janeiro,8022,Rio de Janeiro,[Rio de Janeiro]
158,Scotland,7860,Scotland,[Scotland]
160,Paraguay,7712,Paraguay,[Paraguay]
161,Ghana,7695,Ghana,[Ghana]
165,Kenya,7535,Kenya,[Kenya]
166,Brazil,7415,Brazil,[Brazil]
171,Bangalore,7237,Bangalore,[Bangalore]
176,New Zealand,7141,New Zealand,[New Zealand]
180,Sydney,6955,Sydney,[Sydney]
185,New Jersey,6758,New Jersey,[New Jersey]
186,Cuba,6747,Cuba,[Cuba]
188,Nederland,6739,Nederland,[Nederland]
189,Washington DC,6665,Washington DC,[Washington DC]
192,CDMX,6549,CDMX,[CDMX]
199,Honduras,6341,Honduras,[Honduras]
201,Michigan,6312,Michigan,[Michigan]
202,Nicaragua,6269,Nicaragua,[Nicaragua]
204,Boston,6230,Boston,[Boston]
206,Êó•Êú¨,6205,Êó•Êú¨,[Êó•Êú¨]
208,Portugal,6139,Portugal,[Portugal]
209,Internet,6128,Internet,[Internet]
212,Dominican Republic,6066,Dominican Republic,[Dominican Republic]
213,Delhi,6033,Delhi,[Delhi]
214,Uruguay,6011,Uruguay,[Uruguay]
216,Sri Lanka,5930,Sri Lanka,[Sri Lanka]
220,Puerto Rico,5742,Puerto Rico,[Puerto Rico]
221,Thailand,5706,Thailand,[Thailand]
223,Peru,5689,Peru,[Peru]
229,Seattle,5588,Seattle,[Seattle]
230,Nairobi,5562,Nairobi,[Nairobi]
233,Chennai,5459,Chennai,[Chennai]
235,Japan,5447,Japan,[Japan]
236,America,5432,America,[America]
237,Africa,5416,Africa,[Africa]
238,Melbourne,5406,Melbourne,[Melbourne]
239,Bogot√°,5404,Bogot√°,[Bogot√°]
246,Jakarta,5278,Jakarta,[Jakarta]
249,Caracas,5150,Caracas,[Caracas]
250,Southern California,5140,Southern California,[Southern California]
252,United States of America,5101,United States of America,[United States of America]
257,Caracas - Venezuela,5061,Caracas - Venezuela,[Caracas - Venezuela]
258,Bolivia,5042,Bolivia,[Bolivia]
259,Costa Rica,5019,Costa Rica,[Costa Rica]
263,Dublin,4928,Dublin,[Dublin]
264,The Netherlands,4928,The Netherlands,[The Netherlands]
265,Jamaica,4925,Jamaica,[Jamaica]
266,Ohio,4907,Ohio,[Ohio]
267,Brussels,4897,Brussels,[Brussels]
268,she/her,4895,she/her,[she/her]
273,Milano,4840,Milano,[Milano]
278,Manchester,4703,Manchester,[Manchester]
280,Colorado,4616,Colorado,[Colorado]
283,Amsterdam,4561,Amsterdam,[Amsterdam]
284,Senegal,4546,Senegal,[Senegal]
285,Santiago de Chile,4528,Santiago de Chile,[Santiago de Chile]
286,Rep√∫blica Dominicana,4524,Rep√∫blica Dominicana,[Rep√∫blica Dominicana]
287,NY,4514,NY,[NY]
290,Mexico City,4463,Mexico City,[Mexico City]
291,Belgium,4447,Belgium,[Belgium]
292,Jammu And Kashmir,4432,Jammu And Kashmir,[Jammu And Kashmir]
293,Panama,4423,Panama,[Panama]
294,Maldives,4403,Maldives,[Maldives]
295,Sevilla,4335,Sevilla,[Sevilla]
297,Lima,4256,Lima,[Lima]
299,Kuala Lumpur,4199,Kuala Lumpur,[Kuala Lumpur]
301,Hyderabad,4127,Hyderabad,[Hyderabad]
308,Atlanta,4015,Atlanta,[Atlanta]
309,North Carolina,3999,North Carolina,[North Carolina]
312,Per√∫,3983,Per√∫,[Per√∫]
313,ƒ∞stanbul,3980,ƒ∞stanbul,[ƒ∞stanbul]
316,Israel,3899,Israel,[Israel]
317,Arizona,3862,Arizona,[Arizona]
322,Liverpool,3788,Liverpool,[Liverpool]
323,Tokyo,3775,Tokyo,[Tokyo]
324,Jakarta Capital Region,3774,Jakarta Capital Region,[Jakarta Capital Region]
325,‡§≠‡§æ‡§∞‡§§,3773,‡§≠‡§æ‡§∞‡§§,[‡§≠‡§æ‡§∞‡§§]
330,Switzerland,3725,Switzerland,[Switzerland]
331,Glasgow,3704,Glasgow,[Glasgow]
332,Philadelphia,3679,Philadelphia,[Philadelphia]
336,US,3621,US,[US]
341,Valencia,3546,Valencia,[Valencia]
343,JDSupra.com,3520,JDSupra.com,[JDSupra.com]
344,Santiago,3509,Santiago,[Santiago]
346,Netherlands,3486,Netherlands,[Netherlands]
350,Johannesburg,3399,Johannesburg,[Johannesburg]
351,Wisconsin,3398,Wisconsin,[Wisconsin]
352,Abuja,3368,Abuja,[Abuja]
355,Sweden,3362,Sweden,[Sweden]
356,Montr√©al,3338,Montr√©al,[Montr√©al]
358,india,3320,india,[india]
362,Estados Unidos,3259,Estados Unidos,[Estados Unidos]
363,Vancouver,3256,Vancouver,[Vancouver]
364,INDIA,3235,INDIA,[INDIA]
366,Maryland,3229,Maryland,[Maryland]
371,San Francisco Bay Area,3196,San Francisco Bay Area,[San Francisco Bay Area]
375,,3173,,[]
377,Edinburgh,3159,Edinburgh,[Edinburgh]
378,Canberra,3155,Canberra,[Canberra]
382,Nepal,3104,Nepal,[Nepal]
390,Brooklyn,3088,Brooklyn,[Brooklyn]
391,Massachusetts,3079,Massachusetts,[Massachusetts]
392,National Capital Region,3068,National Capital Region,[National Capital Region]
393,Virginia,3066,Virginia,[Virginia]
395,Bangladesh,3041,Bangladesh,[Bangladesh]
402,Uganda,3006,Uganda,[Uganda]
403,San Diego,2994,San Diego,[San Diego]
408,Pennsylvania,2968,Pennsylvania,[Pennsylvania]
410,Êó•Êú¨ Êù±‰∫¨,2934,Êó•Êú¨ Êù±‰∫¨,[Êó•Êú¨ Êù±‰∫¨]
413,Minnesota,2913,Minnesota,[Minnesota]
416,Belgique,2886,Belgique,[Belgique]
419,Miami,2863,Miami,[Miami]
420,Haiti,2859,Haiti,[Haiti]
423,M√ºnchen,2836,M√ºnchen,[M√ºnchen]
429,Ottawa,2795,Ottawa,[Ottawa]
433,Georgia,2782,Georgia,[Georgia]
436,Illinois,2746,Illinois,[Illinois]
443,South Florida,2713,South Florida,[South Florida]
446,Montreal,2679,Montreal,[Montreal]
447,Mars,2678,Mars,[Mars]
448,R√©publique D√©mocratique Du Con,2662,R√©publique D√©mocratique Du Con,[R√©publique D√©mocratique Du Con]
449,Santo Domingo,2662,Santo Domingo,[Santo Domingo]
452,NJ,2643,NJ,[NJ]
453,Dubai,2632,Dubai,[Dubai]
455,Lebanon,2615,Lebanon,[Lebanon]
456,En todas partes,2597,En todas partes,[En todas partes]
459,Oregon,2589,Oregon,[Oregon]
462,earth,2577,earth,[earth]
464,Bangkok,2550,Bangkok,[Bangkok]
467,London,2528,London,[London]

In [189]:
# TODO: Case incensitive mask/match
# e.g. df2 = df1['company_name'].str.contains("apple", na=False, case=False)

def get_country(countries_df, element):
    # Filter 'Country' field with 'element'
    country = countries_df[countries_df['Country'] == element]
    
    # No results
    if len(country) == 0:
        return None
    
    # There can be only one result
    return country


def get_admin1(admin1_df, element, country_code=None):
    if country_code is None:
        # admin1 matching name (or ascii name) w/o country
        admin1 = admin1_df[(admin1_df['name'] == element) | \
                           (admin1_df['name ascii'] == element)]
    
        if len(admin1) == 0:
            # No results
            return None
    
        if len(admin1) > 1:
            # #ERROR:99
            # This error happens when, w/o a country, there is
            # more than 1 admin1 by that name/ascii name.
            # There is not enough data to infer which one.
            # e.g. "La Paz" district (Bolivia, Honduras, El Savador)
            admin1 = admin1_df[(admin1_df['name'] == element)].copy()
            admin1.loc[:, 'geonameid'] = 99
            return admin1.head(1)
            
    
    else:
        # admin1 matching name (or ascii name) and country
        admin1 = admin1_df[(admin1_df['code'].str.contains(f'^{country_code}.')) & \
                          ((admin1_df['name'] == element) | \
                           (admin1_df['name ascii'] == element))]
        
        if len(admin1) == 0:
            # No results
            # TODO: Look for an abbreviation else return None
            return None
    
    return admin1


def get_city(cities_df, element, admin1_code=None, country_code=None):
    if admin1_code is None and country_code is None:
        cities = cities_df[(cities_df['name'] == element)]
    
    elif admin1_code is None:
        cities = cities_df[(cities_df['name'] == element) & \
                         (cities_df['country'] == country_code)]
    
    elif country_code is None:
        cities = cities_df[(cities_df['name'] == element) & \
                           (cities_df['admin1'] == admin1_code)]
    
    else:
        cities = cities_df[(cities_df['name'] == element) & \
                           (cities_df['admin1'] == admin1_code) & \
                           (cities_df['country'] == country_code)]
    
    if len(cities) == 0:
        # No results
        return None
    
    else:
        # More than one result,
        # take the city with the largest population.
        return cities.nlargest(1, ['population']) 

"""
Cases:

                  country
      state/prov, country
            city, country
city, state/prov, country

city, state/prov, country
city, state/prov
city, country
city

neighboorhood, city, country
neighboorhood, city

state/prov, country
state/prov
"""

def infer_geonameid(elements):
    # Datasets
    # * countries_df
    # * admin1_df
    # * cities_df

    # print(elements)
    
    # Don't try to infer if element should be ignored
    if elements[0] in LOCATION_DISCARD:
        pass
    
    # One item
    # TODO: Invert? Check city first, then state, then country?
    # e.g. New York is always the city, not the state.
    elif len(elements) == 1:
        country = get_country(countries_df, elements[0])
        
        # "<country>" as-is
        if country is not None:
            return str(country['geonameid'].item())
    
        admin1 = get_admin1(admin1_df, elements[0])
    
        # "<state/province>" as-is
        if admin1 is not None:
            return str(admin1['geonameid'].item())

        city = get_city(cities_df, elements[0])
        
        # "<city>" as-is
        if city is not None:
            return str(city['geonameid'].item())

    
    # Two items
    elif len(elements) == 2:
        
        # if element[1] is country:
            # if element[0] is <state/province> within <country>:
                # return <state/province>
                
            # if element[0] is <city> within <country>:
                # return <city>
                
            # return country
        
        # if element[1] is <state/province>:
            # if element[0] is <city> within <country>:
                # return <city>
                
            # return <state/province>
            
        # if element[1] is <city>:
        
            # return <city>
        
        pass
    
    # Three items
    elif len(elements) == 3:
        
        # if element[2] is country:
            # if element[1] is <state/province> within <country>:
                # if element[0] if <city> within <state/province>
                    # return <city
                    
                # return <state/province>
                
            # if element[1] is city within country:
                # return <city>
                
            # return <country>
            
        # if element[2] is <state/province>:
            # if element[1] if <city> within <state/province>
                    # return <city>
        
        pass
            
    return np.nan

In [190]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 200)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

test_df['geonameid'] = np.nan
test_df['geonameid'] = test_df['elements'].map(lambda elements: infer_geonameid(elements))
test_df

,tweet_user_location,tweet_id,tweet_user_location_copy,elements,geonameid
0,None,4994911,None,[None],NaN
1,United States,190257,United States,[United States],6252001
2,India,97652,India,[India],1269750
4,USA,67336,USA,[USA],6252001
5,London,66315,London,[London],2643743
10,France,54481,France,[France],3017382
12,United Kingdom,48965,United Kingdom,[United Kingdom],2635167
13,M√©xico,46987,M√©xico,[M√©xico],3523272
15,Espa√±a,44838,Espa√±a,[Espa√±a],2510769
16,Nigeria,44185,Nigeria,[Nigeria],2328926
17,Venezuela,42657,Venezuela,[Venezuela],3625428
18,Canada,40858,Canada,[Canada],6251999
20,\N,39268,\N,[\N],NaN
23,UK,36063,UK,[UK],2635167
26,Argentina,33687,Argentina,[Argentina],3865483
27,Brasil,33580,Brasil,[Brasil],3469034
28,Italia,32502,Italia,[Italia],3175395
30,Australia,30921,Australia,[Australia],2077456
32,Paris,29451,Paris,[Paris],2988507
34,Madrid,28946,Madrid,[Madrid],3117732
37,Earth,26727,Earth,[Earth],NaN
38,New York,26546,New York,[New York],5128638
41,Colombia,25048,Colombia,[Colombia],3686110
43,Indonesia,24684,Indonesia,[Indonesia],1643084
44,Chile,22545,Chile,[Chile],3895114
45,Worldwide,22394,Worldwide,[Worldwide],NaN
50,South Africa,21241,South Africa,[South Africa],953987
51,Barcelona,20727,Barcelona,[Barcelona],3128760
52,Malaysia,19476,Malaysia,[Malaysia],1733045
53,Global,19453,Global,[Global],NaN
58,Los Angeles,18472,Los Angeles,[Los Angeles],5368361
60,Pakistan,17863,Pakistan,[Pakistan],1168579
63,New York City,17093,New York City,[New York City],5128581
66,NYC,16732,NYC,[NYC],NaN
69,Toronto,15664,Toronto,[Toronto],6167865
72,Texas,15200,Texas,[Texas],4736286
73,Philippines,15086,Philippines,[Philippines],1694008
74,Singapore,14774,Singapore,[Singapore],1880251
75,Mexico,14732,Mexico,[Mexico],3996063
76,California,14552,California,[California],5332921
79,El Salvador,14002,El Salvador,[El Salvador],3585968
81,New Delhi,13893,New Delhi,[New Delhi],1261481
83,Hong Kong,13783,Hong Kong,[Hong Kong],1819730
85,Mumbai,13661,Mumbai,[Mumbai],1275339
86,Planet Earth,13625,Planet Earth,[Planet Earth],NaN
87,Chicago,13623,Chicago,[Chicago],4887398
90,Ireland,13442,Ireland,[Ireland],2963597
92,Ecuador,13111,Ecuador,[Ecuador],3658394
93,Republic of the Philippines,13027,Republic of the Philippines,[Republic of the Philippines],1694008
98,Guatemala,11834,Guatemala,[Guatemala],3595528
99,Panam√°,11608,Panam√°,[Panam√°],3703433
107,Catalunya,10965,Catalunya,[Catalunya],NaN
109,Florida,10805,Florida,[Florida],99
110,Text RESIST to 50409,10803,Text RESIST to 50409,[Text RESIST to 50409],NaN
111,T√ºrkiye,10656,T√ºrkiye,[T√ºrkiye],298795
113,Ciudad Aut√≥noma de Buenos Aire,10308,Ciudad Aut√≥noma de Buenos Aire,[Ciudad Aut√≥noma de Buenos Aire],NaN
115,World,10150,World,[World],NaN
116,Ciudad de M√©xico,10107,Ciudad de M√©xico,[Ciudad de M√©xico],NaN
117,Buenos Aires,10081,Buenos Aires,[Buenos Aires],3435907
123,Everywhere,9897,Everywhere,[Everywhere],NaN
127,Germany,9578,Germany,[Germany],2921044
129,Europe,9420,Europe,[Europe],NaN
132,San Francisco,9156,San Francisco,[San Francisco],5391959
135,Italy,9082,Italy,[Italy],3175395
136,Deutschland,9068,Deutschland,[Deutschland],NaN
138,Lagos,8986,Lagos,[Lagos],2332453
140,Spain,8767,Spain,[Spain],2510769
141,Roma,8759,Roma,[Roma],8479429
142,England,8579,England,[England],6269131
151,S√£o Paulo,8128,S√£o Paulo,[S√£o Paulo],3448433
153,Berlin,8073,Berlin,[Berlin],2950157
155,Rio de Janeiro,8022,Rio de Janeiro,[Rio de Janeiro],3451189
158,Scotland,7860,Scotland,[Scotland],2638360
160,Paraguay,7712,Paraguay,[Paraguay],3437598
161,Ghana,7695,Ghana,[Ghana],2300660
165,Kenya,7535,Kenya,[Kenya],192950
166,Brazil,7415,Brazil,[Brazil],3469034
171,Bangalore,7237,Bangalore,[Bangalore],NaN
176,New Zealand,7141,New Zealand,[New Zealand],2186224
180,Sydney,6955,Sydney,[Sydney],2147714
185,New Jersey,6758,New Jersey,[New Jersey],5101760
186,Cuba,6747,Cuba,[Cuba],3562981
188,Nederland,6739,Nederland,[Nederland],4713932
189,Washington DC,6665,Washington DC,[Washington DC],NaN
192,CDMX,6549,CDMX,[CDMX],NaN
199,Honduras,6341,Honduras,[Honduras],3608932
201,Michigan,6312,Michigan,[Michigan],5001836
202,Nicaragua,6269,Nicaragua,[Nicaragua],3617476
204,Boston,6230,Boston,[Boston],4930956
206,Êó•Êú¨,6205,Êó•Êú¨,[Êó•Êú¨],1861060
208,Portugal,6139,Portugal,[Portugal],2264397
209,Internet,6128,Internet,[Internet],NaN
212,Dominican Republic,6066,Dominican Republic,[Dominican Republic],3508796
213,Delhi,6033,Delhi,[Delhi],1273293
214,Uruguay,6011,Uruguay,[Uruguay],3439705
216,Sri Lanka,5930,Sri Lanka,[Sri Lanka],1227603
220,Puerto Rico,5742,Puerto Rico,[Puerto Rico],4566966
221,Thailand,5706,Thailand,[Thailand],1605651
223,Peru,5689,Peru,[Peru],3932488
229,Seattle,5588,Seattle,[Seattle],5809844
230,Nairobi,5562,Nairobi,[Nairobi],184745
233,Chennai,5459,Chennai,[Chennai],1264527
235,Japan,5447,Japan,[Japan],1861060
236,America,5432,America,[America],2759831
237,Africa,5416,Africa,[Africa],NaN
238,Melbourne,5406,Melbourne,[Melbourne],2158177
239,Bogot√°,5404,Bogot√°,[Bogot√°],3688689
246,Jakarta,5278,Jakarta,[Jakarta],1642907
249,Caracas,5150,Caracas,[Caracas],3646738
250,Southern California,5140,Southern California,[Southern California],NaN
252,United States of America,5101,United States of America,[United States of America],NaN
257,Caracas - Venezuela,5061,Caracas - Venezuela,[Caracas - Venezuela],NaN
258,Bolivia,5042,Bolivia,[Bolivia],3923057
259,Costa Rica,5019,Costa Rica,[Costa Rica],3624060
263,Dublin,4928,Dublin,[Dublin],2964574
264,The Netherlands,4928,The Netherlands,[The Netherlands],NaN
265,Jamaica,4925,Jamaica,[Jamaica],3489940
266,Ohio,4907,Ohio,[Ohio],5165418
267,Brussels,4897,Brussels,[Brussels],2800866
268,she/her,4895,she/her,[she/her],NaN
273,Milano,4840,Milano,[Milano],NaN
278,Manchester,4703,Manchester,[Manchester],3489586
280,Colorado,4616,Colorado,[Colorado],5417618
283,Amsterdam,4561,Amsterdam,[Amsterdam],2759794
284,Senegal,4546,Senegal,[Senegal],2245662
285,Santiago de Chile,4528,Santiago de Chile,[Santiago de Chile],NaN
286,Rep√∫blica Dominicana,4524,Rep√∫blica Dominicana,[Rep√∫blica Dominicana],NaN
287,NY,4514,NY,[NY],NaN
290,Mexico City,4463,Mexico City,[Mexico City],3527646
291,Belgium,4447,Belgium,[Belgium],2802361
292,Jammu And Kashmir,4432,Jammu And Kashmir,[Jammu And Kashmir],NaN
293,Panama,4423,Panama,[Panama],3703430
294,Maldives,4403,Maldives,[Maldives],1282028
295,Sevilla,4335,Sevilla,[Sevilla],2510911
297,Lima,4256,Lima,[Lima],3936451
299,Kuala Lumpur,4199,Kuala Lumpur,[Kuala Lumpur],1733046
301,Hyderabad,4127,Hyderabad,[Hyderabad],1269843
308,Atlanta,4015,Atlanta,[Atlanta],4180439
309,North Carolina,3999,North Carolina,[North Carolina],4482348
312,Per√∫,3983,Per√∫,[Per√∫],NaN
313,ƒ∞stanbul,3980,ƒ∞stanbul,[ƒ∞stanbul],NaN
316,Israel,3899,Israel,[Israel],294640
317,Arizona,3862,Arizona,[Arizona],5551752
322,Liverpool,3788,Liverpool,[Liverpool],2644210
323,Tokyo,3775,Tokyo,[Tokyo],1850144
324,Jakarta Capital Region,3774,Jakarta Capital Region,[Jakarta Capital Region],NaN
325,‡§≠‡§æ‡§∞‡§§,3773,‡§≠‡§æ‡§∞‡§§,[‡§≠‡§æ‡§∞‡§§],NaN
330,Switzerland,3725,Switzerland,[Switzerland],2658434
331,Glasgow,3704,Glasgow,[Glasgow],2648579
332,Philadelphia,3679,Philadelphia,[Philadelphia],4560349
336,US,3621,US,[US],NaN
341,Valencia,3546,Valencia,[Valencia],2593113
343,JDSupra.com,3520,JDSupra.com,[JDSupra.com],NaN
344,Santiago,3509,Santiago,[Santiago],3492918
346,Netherlands,3486,Netherlands,[Netherlands],2750405
350,Johannesburg,3399,Johannesburg,[Johannesburg],993800
351,Wisconsin,3398,Wisconsin,[Wisconsin],5279468
352,Abuja,3368,Abuja,[Abuja],2352778
355,Sweden,3362,Sweden,[Sweden],2661886
356,Montr√©al,3338,Montr√©al,[Montr√©al],6077243
358,india,3320,india,[india],NaN
362,Estados Unidos,3259,Estados Unidos,[Estados Unidos],NaN
363,Vancouver,3256,Vancouver,[Vancouver],6173331
364,INDIA,3235,INDIA,[INDIA],NaN
366,Maryland,3229,Maryland,[Maryland],99
371,San Francisco Bay Area,3196,San Francisco Bay Area,[San Francisco Bay Area],NaN
375,,3173,,[],NaN
377,Edinburgh,3159,Edinburgh,[Edinburgh],2650225
378,Canberra,3155,Canberra,[Canberra],2172517
382,Nepal,3104,Nepal,[Nepal],1282988
390,Brooklyn,3088,Brooklyn,[Brooklyn],5110302
391,Massachusetts,3079,Massachusetts,[Massachusetts],6254926
392,National Capital Region,3068,National Capital Region,[National Capital Region],NaN
393,Virginia,3066,Virginia,[Virginia],6254928
395,Bangladesh,3041,Bangladesh,[Bangladesh],1210997
402,Uganda,3006,Uganda,[Uganda],226074
403,San Diego,2994,San Diego,[San Diego],5391811
408,Pennsylvania,2968,Pennsylvania,[Pennsylvania],6254927
410,Êó•Êú¨ Êù±‰∫¨,2934,Êó•Êú¨ Êù±‰∫¨,[Êó•Êú¨ Êù±‰∫¨],NaN
413,Minnesota,2913,Minnesota,[Minnesota],5037779
416,Belgique,2886,Belgique,[Belgique],NaN
419,Miami,2863,Miami,[Miami],4164138
420,Haiti,2859,Haiti,[Haiti],3723988
423,M√ºnchen,2836,M√ºnchen,[M√ºnchen],NaN
429,Ottawa,2795,Ottawa,[Ottawa],6094817
433,Georgia,2782,Georgia,[Georgia],614540
436,Illinois,2746,Illinois,[Illinois],4896861
443,South Florida,2713,South Florida,[South Florida],NaN
446,Montreal,2679,Montreal,[Montreal],NaN
447,Mars,2678,Mars,[Mars],5199944
448,R√©publique D√©mocratique Du Con,2662,R√©publique D√©mocratique Du Con,[R√©publique D√©mocratique Du Con],NaN
449,Santo Domingo,2662,Santo Domingo,[Santo Domingo],6201373
452,NJ,2643,NJ,[NJ],NaN
453,Dubai,2632,Dubai,[Dubai],292224
455,Lebanon,2615,Lebanon,[Lebanon],272103
456,En todas partes,2597,En todas partes,[En todas partes],NaN
459,Oregon,2589,Oregon,[Oregon],5744337
462,earth,2577,earth,[earth],NaN
464,Bangkok,2550,Bangkok,[Bangkok],1609348
467,London,2528,London,[London],2643743

In [191]:
print_geonameid_completeness(test_df)

89.603%