# Experimentation

Loading the datasets and cleaning. The following datasets are expected:
* `locations_clean_user_location.tsv`: The original provided list of raw locations with corresponding number of occurances
* In `/data`:
  * `cities1000.tsv`, cities with > 1000 pop. (GeoNames):
    * https://download.geonames.org/export/dump/cities1000.zip
    * Unzipped and renamed to `.tsv`
  * `countryInfo.tsv`, countries (GeoNames):
    * https://download.geonames.org/export/dump/countryInfo.txt
    * Unzipped and renamed to `.tsv`
  * `admin1CodesASCII.txt`, states and provinces (admin1) (GeoNames)
    * https://download.geonames.org/export/dump/admin1CodesASCII.txt

In [8]:
import os
import pandas as pd
import geopandas as gpd

current_dir = os.getcwd()
data_dir = "data"

## Load datasets

In [9]:
# Tweets user locations list
# Loading using pandas' read_csv (tab-deleted) to set 'tweet_id' dtype to int

tweets_user_locations = os.path.join(current_dir, "locations_clean_user_location.tsv")
df = pd.read_csv(tweets_user_locations, sep='\t', dtype={'tweet_id': int})
df.head(3)

  tweet_user_location  tweet_id
0                None   4994911
1       United States    190257
2               India     97652

In [10]:
# GeoNames (Cities with > 1000 inabitants)
# https://download.geonames.org/export/dump/cities1000.zip
# Loading using geopandas for geometry (usefulness tbd)

cities = os.path.join(current_dir, data_dir, "cities1000.tsv")
cities_df = gpd.read_file(cities)
cities_df.columns = cities_df.columns.str.lower() # lowercase headers
cities_df.head(3)

,geonameid,name,asciiname,altnames,latitude,longitude,featclass,featcode,country,cc2,admin1,admin2,admin3,admin4,population,elevation,gtopo30,timezone,moddate,geometry
0,3039154,El Tarter,El Tarter,"Ehl Tarter,–≠–ª –¢–∞—Ä—Ç–µ—Ä",42.57952,1.65362,P,PPL,AD,,02,,,,1052.0,NaN,1721,Europe/Andorra,2012-11-03,POINT (1.65362 42.57952)
1,3039163,Sant Juli√† de L√≤ria,Sant Julia de Loria,"San Julia,San Juli√†,Sant Julia de Loria,Sant J...",42.46372,1.49129,P,PPLA,AD,,06,,,,8022.0,NaN,921,Europe/Andorra,2013-11-23,POINT (1.49129 42.46372)
2,3039604,Pas de la Casa,Pas de la Casa,"Pas de la Kasa,–ü–∞—Å –¥–µ –ª–∞ –ö–∞—Å–∞",42.54277,1.73361,P,PPL,AD,,03,,,,2363.0,2050.0,2106,Europe/Andorra,2008-06-09,POINT (1.73361 42.54277)

In [41]:
# Test cities finding
# as-is
city_test = cities_df[(cities_df['name'] == 'London')]
city_test

,geonameid,name,asciiname,altnames,latitude,longitude,featclass,featcode,country,cc2,admin1,admin2,admin3,admin4,population,elevation,gtopo30,timezone,moddate,geometry
13904,6058560,London,London,"Landona,London,Londonas,Londono,YXU,leondeon,l...",42.98339,-81.23304,P,PPL,CA,,08,,,,346765.0,NaN,252,America/Toronto,2012-08-19,POINT (-81.23304 42.98339)
48817,2643743,London,London,"ILondon,LON,Lakana,Landan,Landen,Ljondan,Llund...",51.50853,-0.12574,P,PPLC,GB,,ENG,GLA,,,7556900.0,NaN,25,Europe/London,2019-09-18,POINT (-0.12574 51.50853)
118957,4119617,London,London,"Haddoxburg,London",35.32897,-93.25296,P,PPL,US,,AR,115,90813,,1046.0,116.0,121,America/Chicago,2017-05-23,POINT (-93.25296 35.32897)
120898,4298960,London,London,"LOZ,Landon,London,Riceton,lndn,lndn kntaky,lu...",37.12898,-84.08326,P,PPLA2,US,,KY,125,,,8126.0,378.0,379,America/New_York,2017-03-09,POINT (-84.08326 37.12898)
122937,4517009,London,London,"Landon,Limerick,London,New London,lndn,lndn a...",39.88645,-83.44825,P,PPLA2,US,,OH,097,44674,,10060.0,321.0,321,America/New_York,2017-05-23,POINT (-83.44825 39.88645)
132245,5367815,London,London,"London,Londres,New London",36.47606,-119.44318,P,PPL,US,,CA,107,,,1869.0,91.0,93,America/Los_Angeles,2011-05-14,POINT (-119.44318 36.47606)

In [34]:
# GeoNames (Countries info)
# https://download.geonames.org/export/dump/countryInfo.txt
# Loading using pandas' read_csv (tab-deleted), ignore lines 1-48

countries = os.path.join(current_dir, data_dir, "countryInfo.tsv")
countries_df = pd.read_csv(countries, sep='\t', header=49)
countries_df.head(3)

,#ISO,ISO3,ISO-Numeric,fips,Country,Capital,Area(in sq km),Population,Continent,tld,CurrencyCode,CurrencyName,Phone,Postal Code Format,Postal Code Regex,Languages,geonameid,neighbours,EquivalentFipsCode
0,AD,AND,20,AN,Andorra,Andorra la Vella,468.0,77006,EU,.ad,EUR,Euro,376,AD###,^(?:AD)*(\d{3})$,ca,3041565,"ES,FR",NaN
1,AE,ARE,784,AE,United Arab Emirates,Abu Dhabi,82880.0,9630959,AS,.ae,AED,Dirham,971,NaN,NaN,"ar-AE,fa,en,hi,ur",290557,"SA,OM",NaN
2,AF,AFG,4,AF,Afghanistan,Kabul,647500.0,37172386,AS,.af,AFN,Afghani,93,NaN,NaN,"fa-AF,ps,uz-AF,tk",1149361,"TM,CN,IR,TJ,PK,UZ",NaN

In [12]:
# GeoNames (states and provinces, admin1)
# https://download.geonames.org/export/dump/admin1CodesASCII.txt
# Loading using pandas' read_csv (tab-deleted),
# Column names from https://download.geonames.org/export/dump/readme.txt
# 'code' is '<country>.<admin1 for country>'

admin1 = os.path.join(current_dir, data_dir, "admin1CodesASCII.txt")
admin1_df = pd.read_csv(admin1, sep='\t', names=['code', 'name', 'name ascii', 'geonameid'])
admin1_df.head(3)

    code                 name           name ascii  geonameid
0  AD.06  Sant Juli√† de Loria  Sant Julia de Loria    3039162
1  AD.05               Ordino               Ordino    3039676
2  AD.04           La Massana           La Massana    3040131

In [13]:
# GeoNames 'admin1' (admin1_df) for Canadian provinces uses a 2-digit code
# Use postal abbreviation which people use

# CA.01	Alberta	Alberta	5883102
# CA.02	British Columbia	British Columbia	5909050
# CA.03	Manitoba	Manitoba	6065171
# CA.04	New Brunswick	New Brunswick	6087430
# CA.13	Northwest Territories	Northwest Territories	6091069
# CA.07	Nova Scotia	Nova Scotia	6091530
# CA.14	Nunavut	Nunavut	6091732
# CA.08	Ontario	Ontario	6093943
# CA.09	Prince Edward Island	Prince Edward Island	6113358
# CA.10	Quebec	Quebec	6115047
# CA.11	Saskatchewan	Saskatchewan	6141242
# CA.12	Yukon	Yukon	6185811
# CA.05	Newfoundland and Labrador	Newfoundland and Labrador	6354959

province_abbr = {
    'CA.01': 'CA.AB', # Alberta
    'CA.02': 'CA.BC', # British Columbia
    'CA.03': 'CA.MB', # Manitoba
    'CA.04': 'CA.NB', # New Brunswick
    'CA.05': 'CA.NL', # Newfoundland and Labrador
    'CA.07': 'CA.NS', # Nova Scotia
    'CA.08': 'CA.ON', # Ontario
    'CA.09': 'CA.PE', # Prince Edward Island
    'CA.10': 'CA.QC', # Quebec
    'CA.11': 'CA.SK', # Saskatchewan
    'CA.12': 'CA.YK', # Yukon
    'CA.13': 'CA.NT', # Northwest Territories
    'CA.14': 'CA.NU'  # Nunavut
}

new_provinces = admin1_df[admin1_df['code'].str.contains('^CA.')].copy()
new_provinces['code'] = new_provinces['code'].map(province_abbr)
admin1_df = pd.concat([admin1_df, new_provinces], ignore_index=True)
admin1_df[admin1_df['code'].str.contains('^CA.')]

       code                       name                 name ascii  geonameid
466   CA.01                    Alberta                    Alberta    5883102
467   CA.02           British Columbia           British Columbia    5909050
468   CA.03                   Manitoba                   Manitoba    6065171
469   CA.04              New Brunswick              New Brunswick    6087430
470   CA.13      Northwest Territories      Northwest Territories    6091069
471   CA.07                Nova Scotia                Nova Scotia    6091530
472   CA.14                    Nunavut                    Nunavut    6091732
473   CA.08                    Ontario                    Ontario    6093943
474   CA.09       Prince Edward Island       Prince Edward Island    6113358
475   CA.10                     Quebec                     Quebec    6115047
476   CA.11               Saskatchewan               Saskatchewan    6141242
477   CA.12                      Yukon                      Yukon    6185811
478   CA.05  Newfoundland and Labrador  Newfoundland and Labrador    6354959
3933  CA.AB                    Alberta                    Alberta    5883102
3934  CA.BC           British Columbia           British Columbia    5909050
3935  CA.MB                   Manitoba                   Manitoba    6065171
3936  CA.NB              New Brunswick              New Brunswick    6087430
3937  CA.NT      Northwest Territories      Northwest Territories    6091069
3938  CA.NS                Nova Scotia                Nova Scotia    6091530
3939  CA.NU                    Nunavut                    Nunavut    6091732
3940  CA.ON                    Ontario                    Ontario    6093943
3941  CA.PE       Prince Edward Island       Prince Edward Island    6113358
3942  CA.QC                     Quebec                     Quebec    6115047
3943  CA.SK               Saskatchewan               Saskatchewan    6141242
3944  CA.YK                      Yukon                      Yukon    6185811
3945  CA.NL  Newfoundland and Labrador  Newfoundland and Labrador    6354959

In [14]:
# Test when there's more than 1 admin1

# admin1_df[admin1_df['code'].str.contains('^US.')]
# admin1_df[admin1_df['name'] == 'La Paz']
country_code = 'HN'
element = 'La Paz'
test1 = admin1_df[(admin1_df['name'] == element)].copy()
test1.loc[:, 'geonameid'] = 99
test11 = test1.head(1)
test1

       code    name name ascii  geonameid
351   BO.04  La Paz     La Paz         99
1190  HN.12  La Paz     La Paz         99
3288  SV.06  La Paz     La Paz         99

In [35]:
# Add alternative country names (USA, UK, etc.)
alternative_country_names = {
    6252001: 'USA',    # United States
    2510769: 'Espa√±a', # [Kingdom of] Spain
    2635167: 'UK',     # United Kingdom
    1861060: 'Êó•Êú¨',    # Japan
}

# new_provinces = admin1_df[admin1_df['code'].str.contains('^CA.')].copy()
# new_provinces['code'] = new_provinces['code'].map(province_abbr)
# admin1_df = pd.concat([admin1_df, new_provinces], ignore_index=True)
# admin1_df[admin1_df['code'].str.contains('^CA.')]

new_countries = pd.DataFrame([], columns=countries_df.columns)
for geo, alt_name in alternative_country_names.items():
    alt_country = countries_df[countries_df['geonameid'] == geo].copy()
    alt_country['Country'] = alt_name
    countries_df = pd.concat([countries_df, alt_country], ignore_index=True)

## Helper functions

In [16]:
# Displays the percentage of tweets that have a 'geonameid'
def print_geonameid_completeness(df):
    all_tweets = df['tweet_id'].sum()
    geonameid_tweets = df[df.geonameid.notnull()]['tweet_id'].sum()
    print(f'{geonameid_tweets/all_tweets*100:.3f}%')

 ## Clean

In [17]:
# Make a copy of 'tweet_user_location' so we leave the original intact
df['tweet_user_location_copy'] = df['tweet_user_location']

# Discard specific 'tweet_user_location' strings
tweet_user_location_discard = ['None', '\\N']
df = df[~df['tweet_user_location'].isin(tweet_user_location_discard)]

# Discard locations that don't exist more than 2 times
df = df[df['tweet_id'] > 2]

# Filter out emojis and other symbols
# * https://stackoverflow.com/a/49986645
# * https://www.ling.upenn.edu/courses/Spring_2003/ling538/UnicodeRanges.html (Unicode symbol ranges)
import re
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emojis: emoticons
        u"\U0001F300-\U0001F5FF"  # emojis: symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # emojis: transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # emojis: flags (iOS)
        u"\U00002700-\U000027BF"  # 'Dingbats' http://www.unicode.org/charts/PDF/U2700.pdf
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: deEmojify(x))

# Truncate leading and trailing spaces
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: x.strip())

# Truncate trailing "," and "." characters
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: x.rstrip(','))
df['tweet_user_location_copy'] = df['tweet_user_location_copy'].map(lambda x: x.rstrip('.'))

df

,tweet_user_location,tweet_id,tweet_user_location_copy
1,United States,190257,United States
2,India,97652,India
3,"London, England",77542,"London, England"
4,USA,67336,USA
5,London,66315,London
...,...,...,...
338210,N 52¬∞27' 0'' / W 1¬∞49' 0'',3,N 52¬∞27' 0'' / W 1¬∞49' 0''
338211,Villerupt-Luxembourg-Oslo-Stoc,3,Villerupt-Luxembourg-Oslo-Stoc
338212,Chicago ‚úà,3,Chicago
338213,Catch Me If You Can,3,Catch Me If You Can
338214,On all your devices,3,On all your devices

## Countries

In [18]:
# Some locations are verbatim the name of a country, e.g.:
df[df['tweet_user_location_copy'] == 'Canada']

       tweet_user_location  tweet_id tweet_user_location_copy
18                  Canada     40858                   Canada
1497               Canada        723                   Canada
2846             Canada üá®üá¶       352                   Canada
4756               Canada.       199                   Canada
5333                Canada       177                   Canada
9208             üá®üá¶ Canada       100                   Canada
14493           Canada üá®üá¶         63                   Canada
17363             Canadaüá®üá¶        52                   Canada
52402           üá®üá¶Canadaüá®üá¶        17                   Canada
78821           üçÅ Canada üçÅ        12                   Canada
79402           Canada üá®üá¶üòÅ        12                   Canada
83440              Canada         11                   Canada
84848          Canada üá®üá¶üáÆüá≥        11                   Canada
97153              CanadaüçÅ         9                   Canada
100681            Canada           9                   Canada
100693          Canada  üá®üá¶         9                   Canada
143425           Canada üá®üá¶         6                   Canada
155483            üçÅCanadaüçÅ         6                   Canada
192221              Canada         5                   Canada
224870         Canadaüá®üá¶ üáµüáπ         4                   Canada
294426            Canada.          3                   Canada
294428          Canada. üá®üá¶         3                   Canada
294536            Canada üçÅ         3                   Canada
294551         Canada üá®üá¶üá®üá¶         3                   Canada

In [19]:
# # df[df['tweet_user_location'].isin(simple_countries_df['Country'])]
# # simple_countries_df = countries_df[['#ISO','Country', 'geonameid']]#.set_index('Country')

# # Merge in country info (with goenameid) when there's an exact country match

# # Keep the columns of countries_df we need.
# simple_countries_df = countries_df[['#ISO','Country', 'geonameid']]
# #df = pd.merge(df, simple_countries_df, how='left', left_on='tweet_user_location_copy', right_on='Country')
# df

In [20]:
#print_geonameid_completeness(df)

## Cities

In [21]:
#simple_cities_df = cities_df[['geonameid', 'name', 'asciiname', 'altnames']]
# df = pd.merge(df, simple_cities_df, how='left', left_on='tweet_user_location', right_on='name')
#df_copy = df[df['geonameid'].isnull()]
#pd.merge(df_copy, simple_cities_df, how='left', left_on='tweet_user_location_copy', right_on='name')

# NB: this can't work b/c cities name (unlike countries) aren't unique, e.g. there's a lot of "London"

In [22]:
# df[df['tweet_user_location_copy'].str.count(',') > 2]

In [23]:
# test = "Toronto, Ontario, Canada, World"
# test = "Toronto, Canada"
# test.split(',')

In [24]:
# import numpy as np

# def split_fixed_parts(num_parts, location):
#     parts = location.split(',')
#     if num_parts > len(parts):
#         for i in range(num_parts - len(parts)):
#             parts.insert(0, None)
#     else:
#         for i in range(len(parts) - num_parts):
#             parts.pop(0)
#     return parts

# def parts_dict(num_parts, location):
#     parts = split_fixed_parts(num_parts, location)
#     return {f'el-{k}':parts[k] for k in range(num_parts)}

def split_parts(location):
    return location.split(',')

# print(split_fixed_parts(3, 'Toronto'))
print(split_parts('Toronto'))

['Toronto']

In [25]:
# Mini test dataset
# df[['column_new_1', 'column_new_2', 'column_new_3']] = pd.DataFrame([[np.nan, 'dogs', 3]], index=df.index)
test_df = df[df['tweet_user_location_copy'].str.count(',') == 0].head(100)
test_df

    tweet_user_location  tweet_id tweet_user_location_copy
1         United States    190257            United States
2                 India     97652                    India
4                   USA     67336                      USA
5                London     66315                   London
10               France     54481                   France
..                  ...       ...                      ...
221            Thailand      5706                 Thailand
223                Peru      5689                     Peru
229             Seattle      5588                  Seattle
230             Nairobi      5562                  Nairobi
233             Chennai      5459                  Chennai

[100 rows x 3 columns]

In [26]:
num_parts = 3

# https://stackoverflow.com/a/16242202
#test_df.tweet_user_location_copy.apply(lambda s: pd.Series(parts_dict(num_parts, s)))
#test_df = pd.concat([test_df, test_df.tweet_user_location_copy.apply(lambda s: pd.Series(parts_dict(num_parts, s)))], axis=1)

test_df['elements'] = test_df['tweet_user_location_copy'].map(lambda location: location.split(','))
# test_df['elements'] = test_df['elements'].map(lambda x: [i.strip() for i in x if i is not None])
test_df

    tweet_user_location  tweet_id tweet_user_location_copy         elements
1         United States    190257            United States  [United States]
2                 India     97652                    India          [India]
4                   USA     67336                      USA            [USA]
5                London     66315                   London         [London]
10               France     54481                   France         [France]
..                  ...       ...                      ...              ...
221            Thailand      5706                 Thailand       [Thailand]
223                Peru      5689                     Peru           [Peru]
229             Seattle      5588                  Seattle        [Seattle]
230             Nairobi      5562                  Nairobi        [Nairobi]
233             Chennai      5459                  Chennai        [Chennai]

[100 rows x 4 columns]

In [39]:
def get_country(countries_df, element):
    # TODO: Check all names
    # Filter 'Country' field with 'element'
    country = countries_df[countries_df['Country'] == element]
    
    # No results
    if len(country) == 0:
        return None
    
    # There can be only one result
    return country


def get_admin1(admin1_df, element, country_code=None):
    if country_code is None:
        # admin1 matching name (or ascii name) w/o country
        admin1 = admin1_df[(admin1_df['name'] == element) | \
                           (admin1_df['name ascii'] == element)]
    
        if len(admin1) == 0:
            # No results
            return None
    
        if len(admin1) > 1:
            # #ERROR:99
            # This error happens when, w/o a country, there is
            # more than 1 admin1 by that name/ascii name.
            # There is not enough data to infer which one.
            # e.g. "La Paz" district (Bolivia, Honduras, El Savador)
            admin1 = admin1_df[(admin1_df['name'] == element)].copy()
            admin1.loc[:, 'geonameid'] = 99
            return admin1.head(1)
            
    
    else:
        # admin1 matching name (or ascii name) and country
        admin1 = admin1_df[(admin1_df['code'].str.contains(f'^{country_code}.')) & \
                          ((admin1_df['name'] == element) | \
                           (admin1_df['name ascii'] == element))]
        
        if len(admin1) == 0:
            # No results
            # TODO: Look for an abbreviation else return None
            return None
    
    return admin1


def get_city(cities_df, element, admin1_code=None, country_code=None):
    if admin1_code is None and country_code is None:
        pass
    
    if admin1_code is None:
        pass
    
    if country_code is None:
        pass

"""
Cases:

                  country
      state/prov, country
            city, country
city, state/prov, country



city, state/prov, country
city, state/prov
city, country
city

neighboorhood, city, country
neighboorhood, city

state/prov, country
state/prov
"""

def infer_geonameid(elements):
    # Datasets
    # * countries_df
    # * admin1_df
    # * cities_df

    # print(elements)
    
    # One item
    # TODO: Invert? Check city first, then state, then country?
    # e.g. New York is always the city, not the state.
    if len(elements) == 1:
        country = get_country(countries_df, elements[0])
        
        # "<country>" as-is
        if country is not None:
            return str(country['geonameid'].item())
    
        admin1 = get_admin1(admin1_df, elements[0])
    
        # "<state/province>" as-is
        if admin1 is not None:
            return str(admin1['geonameid'].item())
        
        # "<city>"
        # else check for city
        # if many exist, take the most populous
    
    # Two items
    elif len(elements) == 2:
        
        # if element[1] is country:
            # if element[0] is <state/province> within <country>:
                # return <state/province>
                
            # if element[0] is <city> within <country>:
                # return <city>
                
            # return country
        
        # if element[1] is <state/province>:
            # if element[0] is <city> within <country>:
                # return <city>
                
            # return <state/province>
            
        # if element[1] is <city>:
        
            # return <city>
        
        pass
    
    # Three items
    elif len(elements) == 3:
        
        # if element[2] is country:
            # if element[1] is <state/province> within <country>:
                # if element[0] if <city> within <state/province>
                    # return <city
                    
                # return <state/province>
                
            # if element[1] is city within country:
                # return <city>
                
            # return <country>
            
        # if element[2] is <state/province>:
            # if element[1] if <city> within <state/province>
                    # return <city>
        
        pass
            
    return np.nan

In [36]:
import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 100)
# pd.set_option('display.max_columns', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

test_df['geonameid'] = np.nan
test_df['geonameid'] = test_df['elements'].map(lambda elements: infer_geonameid(elements))
test_df

,tweet_user_location,tweet_id,tweet_user_location_copy,elements,geonameid
1,United States,190257,United States,[United States],6252001
2,India,97652,India,[India],1269750
4,USA,67336,USA,[USA],6252001
5,London,66315,London,[London],NaN
10,France,54481,France,[France],3017382
12,United Kingdom,48965,United Kingdom,[United Kingdom],2635167
13,M√©xico,46987,M√©xico,[M√©xico],3523272
15,Espa√±a,44838,Espa√±a,[Espa√±a],2510769
16,Nigeria,44185,Nigeria,[Nigeria],2328926
17,Venezuela,42657,Venezuela,[Venezuela],3625428
18,Canada,40858,Canada,[Canada],6251999
23,UK,36063,UK,[UK],2635167
26,Argentina,33687,Argentina,[Argentina],3865483
27,Brasil,33580,Brasil,[Brasil],NaN
28,Italia,32502,Italia,[Italia],NaN
30,Australia,30921,Australia,[Australia],2077456
32,Paris,29451,Paris,[Paris],NaN
34,Madrid,28946,Madrid,[Madrid],3117732
37,Earth,26727,Earth,[Earth],NaN
38,New York,26546,New York,[New York],5128638
41,Colombia,25048,Colombia,[Colombia],3686110
43,Indonesia,24684,Indonesia,[Indonesia],1643084
44,Chile,22545,Chile,[Chile],3895114
45,Worldwide,22394,Worldwide,[Worldwide],NaN
50,South Africa,21241,South Africa,[South Africa],953987
51,Barcelona,20727,Barcelona,[Barcelona],NaN
52,Malaysia,19476,Malaysia,[Malaysia],1733045
53,Global,19453,Global,[Global],NaN
58,Los Angeles,18472,Los Angeles,[Los Angeles],NaN
60,Pakistan,17863,Pakistan,[Pakistan],1168579
63,New York City,17093,New York City,[New York City],NaN
66,NYC,16732,NYC,[NYC],NaN
69,Toronto,15664,Toronto,[Toronto],NaN
72,Texas,15200,Texas,[Texas],4736286
73,Philippines,15086,Philippines,[Philippines],1694008
74,Singapore,14774,Singapore,[Singapore],1880251
75,Mexico,14732,Mexico,[Mexico],3996063
76,California,14552,California,[California],5332921
79,El Salvador,14002,El Salvador,[El Salvador],3585968
81,New Delhi,13893,New Delhi,[New Delhi],NaN
83,Hong Kong,13783,Hong Kong,[Hong Kong],1819730
85,Mumbai,13661,Mumbai,[Mumbai],NaN
86,Planet Earth,13625,Planet Earth,[Planet Earth],NaN
87,Chicago,13623,Chicago,[Chicago],NaN
90,Ireland,13442,Ireland,[Ireland],2963597
92,Ecuador,13111,Ecuador,[Ecuador],3658394
93,Republic of the Philippines,13027,Republic of the Philippines,[Republic of the Philippines],NaN
98,Guatemala,11834,Guatemala,[Guatemala],3595528
99,Panam√°,11608,Panam√°,[Panam√°],3703433
107,Catalunya,10965,Catalunya,[Catalunya],NaN
109,Florida,10805,Florida,[Florida],99
110,Text RESIST to 50409,10803,Text RESIST to 50409,[Text RESIST to 50409],NaN
111,T√ºrkiye,10656,T√ºrkiye,[T√ºrkiye],NaN
113,Ciudad Aut√≥noma de Buenos Aire,10308,Ciudad Aut√≥noma de Buenos Aire,[Ciudad Aut√≥noma de Buenos Aire],NaN
115,World,10150,World,[World],NaN
116,Ciudad de M√©xico,10107,Ciudad de M√©xico,[Ciudad de M√©xico],NaN
117,Buenos Aires,10081,Buenos Aires,[Buenos Aires],3435907
123,Everywhere,9897,Everywhere,[Everywhere],NaN
127,Germany,9578,Germany,[Germany],2921044
129,Europe,9420,Europe,[Europe],NaN
132,San Francisco,9156,San Francisco,[San Francisco],NaN
135,Italy,9082,Italy,[Italy],3175395
136,Deutschland,9068,Deutschland,[Deutschland],NaN
138,Lagos,8986,Lagos,[Lagos],2332453
140,Spain,8767,Spain,[Spain],2510769
141,Roma,8759,Roma,[Roma],NaN
142,England,8579,England,[England],6269131
151,S√£o Paulo,8128,S√£o Paulo,[S√£o Paulo],3448433
153,Berlin,8073,Berlin,[Berlin],2950157
155,Rio de Janeiro,8022,Rio de Janeiro,[Rio de Janeiro],3451189
158,Scotland,7860,Scotland,[Scotland],2638360
160,Paraguay,7712,Paraguay,[Paraguay],3437598
161,Ghana,7695,Ghana,[Ghana],2300660
165,Kenya,7535,Kenya,[Kenya],192950
166,Brazil,7415,Brazil,[Brazil],3469034
171,Bangalore,7237,Bangalore,[Bangalore],NaN
176,New Zealand,7141,New Zealand,[New Zealand],2186224
180,Sydney,6955,Sydney,[Sydney],NaN
185,New Jersey,6758,New Jersey,[New Jersey],5101760
186,Cuba,6747,Cuba,[Cuba],3562981
188,Nederland,6739,Nederland,[Nederland],NaN
189,Washington DC,6665,Washington DC,[Washington DC],NaN
192,CDMX,6549,CDMX,[CDMX],NaN
199,Honduras,6341,Honduras,[Honduras],3608932
201,Michigan,6312,Michigan,[Michigan],5001836
202,Nicaragua,6269,Nicaragua,[Nicaragua],3617476
204,Boston,6230,Boston,[Boston],NaN
206,Êó•Êú¨,6205,Êó•Êú¨,[Êó•Êú¨],1861060
208,Portugal,6139,Portugal,[Portugal],2264397
209,Internet,6128,Internet,[Internet],NaN
212,Dominican Republic,6066,Dominican Republic,[Dominican Republic],3508796
213,Delhi,6033,Delhi,[Delhi],1273293
214,Uruguay,6011,Uruguay,[Uruguay],3439705
216,Sri Lanka,5930,Sri Lanka,[Sri Lanka],1227603
220,Puerto Rico,5742,Puerto Rico,[Puerto Rico],4566966
221,Thailand,5706,Thailand,[Thailand],1605651
223,Peru,5689,Peru,[Peru],3932488
229,Seattle,5588,Seattle,[Seattle],NaN
230,Nairobi,5562,Nairobi,[Nairobi],NaN
233,Chennai,5459,Chennai,[Chennai],NaN

In [37]:
print_geonameid_completeness(test_df)

70.532%